:root {
    --bg:#ffffff;
    --hero-bg: #0f4c7c;
    --sec-bg1: #f8c9b8;
    --sec-bg2: #acb9cc;
    --card: #e57836;
    --text:#000000;
    --accent: #093a68;
    font-family: 'Atkinson Hyperlegible', 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 25px;
    position: sticky;
    top:0;
}
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
a i {
    font-size: 30px;
}
header a {
    text-decoration: none;
}
h1 {
    font-weight: 1400;
}
h2 {
    font-weight: 700;
}
h3 {
    font-weight: 550;
    font-style: italic;
}
/*SIDEBAR MENU*/
#sidebar {
    height: 100%;
    width:0;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    position:fixed;
    top: 0;
    right: 0;
    overflow-x:hidden;
    padding-top: 75px;
}
#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
    font-style: italic;
    display: block;
    transition: 0.3s;
}
.navLink:hover {
    transform: scale(1.25);
}
.openbtn {
    margin-top: 10px;
}
.openbtn:hover, .closebtn:hover {
    cursor: pointer;
}
#sidebar .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}
main {
    width: 100%;
}
/* HERO */
#hero {
    background-color: var(--hero-bg);
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    min-width: fit-content;
    padding: 15px;
}
#hero p a {
    color: var(--sec-bg1);
    font-style: italic;
    font-weight: 700;
}
#hero p a:hover {
    color: var(--white);
    font-style:normal;
    text-decoration: none;
}
#site_summary {
    color: white;
    width: 75%;
    margin: 0 auto;
}
#preview_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sectionLink {
    border: 1px solid black;
    background-color: var(--card);
    padding: 10px;
    margin: 5px;
    min-width: min-content;
    width: 20%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
}
.goToSection {
    background-color:var(--hero-bg);
    padding: 8px;
    margin: 0 auto;
    width: fit-content;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}
.goToSection a {
    text-decoration: none;
    color: white;
}
.goToSection a:visited {
    text-decoration: none;
    color: white;
}
.section-div {
    padding: 25px;
    margin: 10px 0;
}
/*SECTION 1*/
#altText101 {
    background-color: var(--sec-bg1);
}
/*SECTION 2*/
#artAndAltText {
    background-color: var(--sec-bg2);
}
p, ul, li {
    font-size: 14pt;
    line-height: 1.5em;
}
blockquote {
    margin: 0 auto;
    background-color: var(--accent);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 50%;
    font-size: 14pt;
}
/*SECTION 3*/
#exercises {
    background-color: var(--sec-bg1);
}
#section3grid{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    padding: 20px;
    width: 100%;
}
.question, .questionContainer {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}
.questionImage {
    width: 300px;
    height: 400px;
}
.questionImage#exercise2 form input{
    margin: 20px 0;
}
details {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color:white;
    border-radius: 13px;
    padding: 10px;
    margin: 12px 0px;
}
details ul li {
    font-size: 12pt;
}
summary {
    font-weight: 550;
}
.exerciseContainer {
    display: flex;
    flex-direction: row;
}
/*SECTION 4*/
#references {
    background-color: var(--sec-bg2);
}
/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
}
#partnerLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%
}
#partnerLogos img {
    height: 100px; 
    width: auto;
}
@media (max-width: 768px) {
    .sectionLink h2 {
        font-size: 16pt;
    }
    #section3grid{
        display: flex;
        flex-direction: column;
    }
}
