:root {
    --bg:#ffffff;
    --main-boxes: #a5a5a5;
    --shadow:#5a5a5a;
    --text:#000000;
    --link:#348af7;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    position: sticky;
    top:0;
}
/*SIDEBAR MENU*/
#sidebar {
    height: 100%;
    width:0;
    background-color: #ffa3a3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    position:fixed;
    top: 0;
    right: 0;
    overflow-x:hidden;
    padding-top: 75px;
}
#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
}
#sidebar .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
main {
    padding: 10px;
}
/* HERO */
#hero {
    background-color: honeydew;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}
#site_summary {
    width: 75%;
    margin: 0 auto;
}
#preview_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sectionLink {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 20%;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
}
.goToSection {
    background-color:var(--link);
    padding: 8px;
    margin: 5px;
    border:1px solid white;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/*SECTION 1*/
/*SECTION 2*/
/*SECTION 3*/
#section3grid{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    padding: 20px;
}
.question, .questionContainer {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
}
.questionImage {
    width: 300px;
    height: 400px;
}
details {
    background-color: yellow;
    border: 4px dotted black;
    border-radius: 13px;
    padding: 10px;
    margin: 12px 0px;
}
.exerciseContainer {
    display: flex;
    flex-direction: row;
}
/*SECTION 4*/